@model PackageIndexViewModel
@{
int colCount = 0;
}

<h1>Travel Packages</h1>

<div class="container">
        @foreach (var item in Model.Packages)
        {
            @if (colCount == 3)
            {
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="panel panel-default package">
                            <div class="panel-heading">
                                <h3>@item.Name</h3>
                            </div>
                            <div class="panel-body">
                                <img src="~/@item.PhotoLocation" alt="Image Error" class="package-img" />
                            </div>
                            <div class="panel-footer">
                                <div class="btn btn-info bookBtn">Book Now</div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="panel panel-default package">
                        <div class="panel-heading">
                            <h3>@item.Name</h3>
                        </div>
                        <div class="panel-body">
                            <img src="~/@item.PhotoLocation" alt="Image Error" class="package-img" />
                        </div>
                        <div class="panel-footer">
                            <div class="btn btn-info bookBtn">Book Now</div>
                        </div>
                    </div>
                </div>
            }
        }
</div>


@if (User.IsInRole("TravelProvider"))
{
    <a asp-action="AddPackage" asp-controller="Package">Add</a>
}
