@model PackageIndexViewModel

<h1>Travel Packages</h1>

<ul>
    @foreach (var item in Model.Packages)
    {   
        <li><a>@item.Name</a>  <i>$@item.Price</i>  
            @if (User.IsInRole("TravelProvider"))
            {
                <a asp-action="UpdatePackage" asp-controller="Package" asp-route-id="@item.ID">Update</a>
                <form asp-action="DiscontinuePackage" asp-controller="Package" asp-route-id="@item.ID" method="post">
                    <button type="submit">Delete</button>
                </form>
            }
        </li>
    }
</ul>

<h5>Number of Packages: <strong>@Model.PackageCount</strong></h5>

@if (User.IsInRole("TravelProvider"))
{
    <a asp-action="AddPackage" asp-controller="Package">Add</a>
}
