<div class="sect sectOne">
    <h3 id="index-title">Grande Travels</h3>
</div>
@*<div class="container">
            <div class="row package-intro">
                <h1>Grande Travel Packages</h1>

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <p>
                        Here at Grande Travels we do the tedious planning and bundle
                        all of it into a <strong>Travel Package</strong> so you book many things
                        all at the same place only take you minutes making your booking experience
                        more enjoyable.
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <p>
                        Feel free to browse &amp; explore our extensive range
                        of <strong>Travel Packages</strong> we provide to make booking your next
                        vacation stress-free so that your frustration doesn't get in the way of
                        enjoying yourself.
                    </p>
                </div>

            </div>
            <div class="row package-intro">
                <div class="col-lg-12">
                    <a asp-controller="Package" asp-action="Index" class="btn btn-info">Browse Packages</a>
                </div>
            </div>
        </div>
    </div>
    <div class="sect sectTwo"></div>
    <div class="subSect">
        <div class="container">

            <div class="row social-media">
                <h1>Social Media</h1>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <img src="~/images/facebookLogo.png" class="social-img" />
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <img src="~/images/instaLogo.png" class="social-img" />
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <img src="~/images/twitterLogo.png" class="social-img" />
                </div>
            </div>
            <div class="row social-info">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <p>
                        Follow us on social media to stay up to date on
                        our latest Travel Packages and to also have your chance
                        to score unbelievable discount offers and other holiday
                        extras.
                    </p>
                </div>
            </div>
        </div>*@

