@model SignUpViewModel

<div class="form-banner signUp-banner"></div>

<h1 class="form-title">Sign Up</h1>

<form asp-action="SignUp" asp-controller="Account" method="post" class="user-form">
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>

    <div class="form-group">
        <label asp-for="Username"></label>
        <input type="text" asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
        <br />
    </div>
    

    <div class="form-group">
        <label asp-for="Email"></label>
        <input type="text" asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
        <br />
    </div>
    

    <div class="form-group">
        <label asp-for="Password"></label>
        <input type="password" asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
        <br />
    </div>
    

    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input type="password" asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        <br />
    </div>

    <div class="radio">
        <label><input type="radio" value="customer" asp-for="UserRole">Customer</label>
    </div>
    <div class="radio">
        <label><input type="radio" value="travel-provider" asp-for="UserRole">Travel Provider</label>
    </div>

    <button type="submit" class="btn btn-danger btn-submit">Submit</button>
</form>