* {
    margin:0;
}

html, body {
    height:100%;
    font-family: sans-serif;
}

.body-content {
    height:100%;
    margin:0;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom:20px;
}

.sect{
    height:100%;
    margin-left:-30px;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

.subSect{
    height:50%;
}

.sectOne {
    background-image: url('../images/grande-travels_Background.jpg');
}

.sectTwo {
    background-image: url('../images/grande-travels_GrassRelax.jpg');
}

.sectThree {
    background-image: url('../images/grande-travels_CityAlley.jpg');
}

.overlay {
    position:fixed;
    top:0;
    left:0;
    width:0%;
    height:100%;
    background: rgba(0,0,0,.9);
    overflow-x:hidden;
    z-index:5;
    transition:all 0.5s;
}

.overlay__content {
    position:relative;
    top: 25%;
    text-align:center;
    width:100%;
    margin-top: 30px;

}

.overlay a {
    padding:10px;
    color:#ccc;
    font-size:40px;
    text-decoration:none;
    display:block;
}


.overlay a:hover{
    color:#fff;
}

.overlay .closeBtn {
    position:absolute;
    top:20px;
    right:50px;
    font-size:50px;
}

.openBtn {
    position:fixed;
    z-index:10;
    color:#ccc;
    top:20px;
    right:50px;
}

#index-title {
    position:absolute;
    color:#ccc;
    margin:0;
    left:40px;
    top:20px;
}


nav {
    background-color:transparent;
    height:100px;
}

nav li {
    color:white;

}

nav.shrink {
    background-color: rgba(0, 0, 0, 5) ;
    height:60px;
    padding-top:0px;
}

