@model MyBookingsViewModel

<div class="page-banner profile-banner"></div>
<h1 class="page-title">Your profile</h1>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            @*<img src="~/@Model.DisplayPhotoPath" alt="Cant display image1" class="img-thumbnail img-responsive user-img" />*@
            <hr />
            <a id="change-user-img">Change Display Photo</a>
        </div>
        <div class="col-lg-9">
            <ul class="nav nav-tabs profile-options">
                <li ><a asp-action="Index" asp-controller="Profile">Overview</a></li>
                <li class="active"><a href="#">My Bookings</a></li>
                <li><a asp-controller="Profile" asp-action="UpdateProfile">Update Profile</a></li>
            </ul>
            <br />
            <div >
                @foreach (var booking in Model.Bookings)
                {
                    <div class="media">
                        <div class="media-left">
                            <img src="~/@booking.Package.PhotoLocation" alt="package photo" style="width:50px;"/>
                        </div>
                        <div class="media-body">
                            <h4>@booking.Package.Name</h4>
                        </div>
                        <div class="media-right media-middle">
                            $@booking.Package.Price
                        </div>
                    </div>
                    <hr />
                }
                <form asp-controller="Booking" asp-action="DeleteAllBookings" method="post">
                    <button type="submit" class="btn btn-danger">Delete All</button>
                </form>
            </div>
            <br />
        </div>
    </div>
</div>