@model MyBookingsViewModel

<h1>My Bookings</h1>

<ul>
    @foreach (var item in Model.MyBookings)
    {
        <li><a asp-action="PackageDetails" asp-controller="Package" asp-route-id="@item.PackageID"><strong>@item.PackageName</strong></a> <a asp-action="LeaveFeedback" asp-controller="Feedback" asp-route-id="@item.PackageID">leave feedback</a></li>
    }
</ul>
